.div1{
    background-color:#E4F9F5   ;
    position:relative;
    padding-top:100px ;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(146, 141, 141);
    border-width: 5px;
    width: 8%;
}

body{
    margin: 0px;
    text-align: center;
    font-family: Bogart,Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1{
    margin: 0 auto;  
    font-family: 'Sacramento', cursive;
    width: 30%;
    color: #232320;
    font-size: 565%;
    letter-spacing: -1.5px;
    line-height: 110%;
    transition: all .2s ease-in-out
}

h2{
    color: #6BBCBC; 
    font-weight:250;
    font-size:2.2em;
}

h3{
    font-family: 'Merriweather', serif;
    color: #248f94;
    font-size: 1.2em;
    font-weight: 1000;
}


.middle-container{
  padding-top: 40px;
  background-color: white;
}

.bottom-container{
  padding: 50px 0 20px;
  background-color: #69aeb0;
}

.skills{
    padding: 10px;

}

.contact-me{
    padding: 50px;
}

.para{
    padding-top:15px;
    padding-bottom:20px;
    line-height: 35px;
}


.img1{
    height: 140px;
}


.img2{
    height: 200px;
    position: relative;
    bottom: 70px;
    top: 4px;

}

.img3{
    height: 200px;
    position: relative;
    bottom: 60px;
    top: 10px;
}

.pro{
    text-decoration: underline;
}
.demo1{
    color: black; 
    font-size: 1.2em;
    line-height: 1.7;
    margin: 1em 0 0;
    transition: all .2s ease-in-out;
}

.contact-me{
    width: 40%;
    margin: auto;
}

.intro{
    width: 40%;
    margin: auto;
    line-height: 35px;
}

.bottom_cloud{
   position: absolute;
   left: 300px;
   
}
.top_cloud{
    position: absolute;
    right: 300px;
    top:50px;
}
.copyright{
    color:black;
    margin-bottom: 0;
    font-size: 0.76rem;
    padding: 20px 0px;
}

.a{
    color: #118286;
    font-family: Bogart,Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color:#eaf6f6;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Bogart,Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #2bc4ad);
    background-image: -moz-linear-gradient(top, #3cb0fd, #2bc4ad);
    background-image: -ms-linear-gradient(top, #3cb0fd, #2bc4ad);
    background-image: -o-linear-gradient(top, #3cb0fd, #2bc4ad);
    background-image: linear-gradient(to bottom, #3cb0fd, #2bc4ad);
    text-decoration: none;
  }